
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_mitesh_end_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__mitesh_end_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_3 {
	opacity:0.95999997854233;
	top: 256px;
	left: 228px;
	width: 1016px;
	height: 659px;
	-ms-border-radius: 36px;
	-o-border-radius: 36px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	border-radius: 36px;
	background:rgba(255,102,0,0.96);
}


#awesome___ {
	top: 557px;
	left: 550px;
	width: 389px;
	height: 101px;
	overflow: hidden;
	font-family: Inter;
	font-size: 56px;
	text-align: center;
	color:#FFFFFF;
}

#iconsax_outline_locationtick {
	top: 290px;
	left: 607px;
	width: 259px;
	height: 259px;
}

#vector {
	top: 13.49px;
	left: 28.33px;
	width: 202.45px;
	height: 232.13px;
}


#vector_ek1 {
	top: 89.07px;
	left: 91.76px;
	width: 75.49px;
	height: 59.33px;
}


#your_booking_has_been_confirmed__check_your_email_for_details {
	top: 646px;
	left: 361px;
	width: 763px;
	height: 127px;
	overflow: hidden;
	font-family: Inter;
	font-size: 38px;
	text-align: center;
	color:#FFFFFF;
}


#rectangle_4 {
	top: 763px;
	left: 459px;
	width: 255px;
	height: 80px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background:rgba(21,45,53,1);
}


#_logout {
	top: 774px;
	left: 492px;
	width: 201px;
	height: 89px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}

#iconsax_broken_car {
	top: 124px;
	left: 56px;
	width: 78px;
	height: 60px;
}

#vector_ek2 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle {
	top: 108px;
	left: 1305px;
	width: 86px;
	height: 80px;
}

#vector_ek3 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek4 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}


#rectangle_7 {
	top: 763px;
	left: 800px;
	width: 249px;
	height: 80px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background:rgba(21,45,53,1);
}


#_book_more {
	top: 774px;
	left: 800px;
	width: 261px;
	height: 89px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}


#parkingb4 {
	top: 199px;
	left: 49px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_mitesh_payment_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__mitesh_payment_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(239,255,253,1);
}


#rectangle_7_ek1 {
	top: 188px;
	left: 816px;
	width: 514.11px;
	height: 762px;
	-ms-border-radius: 31.42px;
	-o-border-radius: 31.42px;
	-moz-border-radius: 31.42px;
	-webkit-border-radius: 31.42px;
	border-radius: 31.42px;
	background:rgba(255,102,0,1);
}


#line_35 {
	top: 572px;
	left: 816px;
	width: 514.11px;
	height: 4.36px;
	background:#000000;
}


#rectangle_62 {
	opacity:0.95999997854233;
	top: 287px;
	left: 73px;
	width: 588px;
	height: 618px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background:rgba(255,102,0,0.96);
}


#_rectangle_57 {
	top: 399px;
	left: 107px;
	width: 217px;
	height: 85px;
	background:rgba(217,217,217,1);
}


#rectangle_59 {
	top: 521px;
	left: 107px;
	width: 217px;
	height: 85px;
	background:rgba(217,217,217,1);
}


#rectangle_61 {
	top: 662px;
	left: 107px;
	width: 503px;
	height: 85px;
	background:rgba(217,217,217,1);
}


#rectangle_60 {
	top: 521px;
	left: 393px;
	width: 217px;
	height: 85px;
	background:rgba(217,217,217,1);
}


#rectangle_58 {
	top: 400px;
	left: 393px;
	width: 217px;
	height: 85px;
	background:rgba(217,217,217,1);
}


#image_3 {
	top: 422px;
	left: 123px;
	width: 177px;
	height: 40.29px;
}


#image_4 {
	top: 400px;
	left: 375px;
	width: 252px;
	height: 74px;
}


#other_upi_apps {
	top: 681px;
	left: 190px;
	width: 460px;
	height: 82px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#line_31 {
	top: 569px;
	left: 349px;
	width: 762px;
	height: 7.58px;
	
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	background:#000000;
}


#___100 {
	top: 445.49px;
	left: 1166.01px;
	width: 170.2063230896px;
	height: 60.8063230896px;
	overflow: hidden;
	font-family: Inter;
	font-size: 37.53px;
	text-align: left;
	color:#000000;
}


#line_33 {
	top: 429.78px;
	left: 856.15px;
	width: 436.43px;
	height: 4.36px;
	background:#000000;
}


#line_34 {
	top: 519.68px;
	left: 854.41px;
	width: 436.43px;
	height: 4.36px;
	background:#000000;
}


#summary {
	top: 215.06px;
	left: 865.75px;
	width: 218.08347076416px;
	height: 72.90347076416px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35.79px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#line_32 {
	top: 277.03px;
	left: 851.79px;
	width: 436.43px;
	height: 4.36px;
	background:#000000;
}


#car_park_name_4_hours {
	top: 288.38px;
	left: 870.12px;
	width: 295.76347076416px;
	height: 147.96347076416px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35.79px;
	text-align: left;
	color:#000000;
}


#___100_ek1 {
	top: 376.54px;
	left: 1166.01px;
	width: 170.2063230896px;
	height: 60.8063230896px;
	overflow: hidden;
	font-family: Inter;
	font-size: 37.53px;
	text-align: left;
	color:#000000;
}


#total {
	top: 442.87px;
	left: 872.74px;
	width: 224.3163230896px;
	height: 81.7563230896px;
	overflow: hidden;
	font-family: Inter;
	font-size: 37.53px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#rectangle_63 {
	top: 597.37px;
	left: 840.44px;
	width: 465.23px;
	height: 324.7px;
	-ms-border-radius: 13.09px;
	-o-border-radius: 13.09px;
	-moz-border-radius: 13.09px;
	-webkit-border-radius: 13.09px;
	border-radius: 13.09px;
	background:rgba(166,177,225,1);
}


#line_36 {
	top: 695.56px;
	left: 840.44px;
	width: 465.23px;
	height: 2.62px;
	background:#000000;
}


#line_37 {
	top: 823.44px;
	left: 840.44px;
	width: 465.23px;
	height: 2.62px;
	background:#000000;
}


#line_38 {
	top: 759px;
	left: 1009px;
	width: 128.32px;
	height: 2.62px;
	
	-ms-transform:rotate(90.78deg);
	-o-transform:rotate(90.78deg);
	-webkit-transform:rotate(90.78deg);
	-moz-transform:rotate(90.78deg);
	transform:rotate(90.78deg);
	background:#000000;
}


#basic_pass {
	top: 621.81px;
	left: 854.41px;
	width: 283.54347076416px;
	height: 100.83347076416px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35.79px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#arrival___2_oct_10_00_a_m_ {
	top: 696px;
	left: 854.41px;
	width: 244.45134090424px;
	height: 127.33134090424px;
	overflow: hidden;
	font-family: Inter;
	font-size: 31.42px;
	text-align: left;
	color:#000000;
}


#departure___2_oct_02_00_p_m_ {
	top: 697.75px;
	left: 1085.71px;
	width: 244.45134090424px;
	height: 127.33134090424px;
	overflow: hidden;
	font-family: Inter;
	font-size: 31.42px;
	text-align: left;
	color:#000000;
}


#vehicle_type__car {
	top: 833.91px;
	left: 856.15px;
	width: 323.88134090424px;
	height: 92.411340904236px;
	overflow: hidden;
	font-family: Inter;
	font-size: 31.42px;
	text-align: left;
	color:#000000;
}

#iconsax_broken_car_ek1 {
	top: 90px;
	left: 58px;
	width: 78px;
	height: 60px;
}

#vector_ek5 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle_ek1 {
	top: 74px;
	left: 1307px;
	width: 86px;
	height: 80px;
}

#vector_ek6 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek7 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}


#image_5 {
	top: 488px;
	left: 97px;
	width: 242px;
	height: 156.96px;
}


#image_6 {
	top: 492px;
	left: 388px;
	width: 226.5px;
	height: 151px;
}


#parkingb4_ek1 {
	top: 165px;
	left: 47px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_shreekar_bill_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__shreekar_bill_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_26 {
	opacity:0.93999999761581;
	top: 165px;
	left: 67px;
	width: 802px;
	height: 271px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,102,0,0.94);
}


#line_2 {
	top: 256px;
	left: 67px;
	width: 802px;
	height: 1px;
	background:#000000;
}


#line_3 {
	top: 296px;
	left: 417px;
	width: 82.15px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#line_4 {
	top: 340px;
	left: 72px;
	width: 797.02px;
	height: 1px;
	
	-ms-transform:rotate(-0.35deg);
	-o-transform:rotate(-0.35deg);
	-webkit-transform:rotate(-0.35deg);
	-moz-transform:rotate(-0.35deg);
	transform:rotate(-0.35deg);
	background:#000000;
}


#name_of_car_parking________________ {
	top: 183px;
	left: 97px;
	width: 747px;
	height: 81px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#arrival___2_oct_2022_10__00_am {
	top: 267px;
	left: 97px;
	width: 397px;
	height: 120px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#vehicle_type {
	top: 361px;
	left: 201px;
	width: 795px;
	height: 72px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#rectangle_42 {
	top: 351px;
	left: 501px;
	width: 120px;
	height: 63px;
	background:rgba(217,217,217,1);
}


#rectangle_43 {
	opacity:0.93999999761581;
	top: 173px;
	left: 887px;
	width: 264px;
	height: 256px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,102,0,0.94);
}


#ellipse_6 {
	top: 204px;
	left: 916px;
	width: 206px;
	height: 193px;
	-ms-border-radius: 103px / 96.5px;
	-o-border-radius: 103px / 96.5px;
	-moz-border-radius: 103px / 96.5px;
	-webkit-border-radius: 103px / 96.5px;
	border-radius: 103px / 96.5px;
	background:rgba(166,177,225,1);
}


#___100_ek2 {
	top: 273px;
	left: 952px;
	width: 291px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}


#_rectangle_44 {
	opacity:0.8299999833107;
	top: 259px;
	left: 1169px;
	width: 211px;
	height: 95px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(0,209.1,255,0.83);
}


#pay_now {
	top: 286px;
	left: 1216px;
	width: 185px;
	height: 85px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#line_17 {
	top: 383px;
	left: 493px;
	width: 135.07px;
	height: 1px;
	
	-ms-transform:rotate(27.32deg);
	-o-transform:rotate(27.32deg);
	-webkit-transform:rotate(27.32deg);
	-moz-transform:rotate(27.32deg);
	transform:rotate(27.32deg);
	background:#000000;
}


#line_18 {
	top: 382px;
	left: 494px;
	width: 134.65px;
	height: 1px;
	
	-ms-transform:rotate(-27.9deg);
	-o-transform:rotate(-27.9deg);
	-webkit-transform:rotate(-27.9deg);
	-moz-transform:rotate(-27.9deg);
	transform:rotate(-27.9deg);
	background:#000000;
}


#departure___2_oct_2022_02_00_p_m_ {
	top: 263px;
	left: 484px;
	width: 371.5px;
	height: 74.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 27px;
	text-align: left;
	color:#000000;
}


#rectangle_31 {
	opacity:0.31000000238419;
	top: 460px;
	left: 73px;
	width: 1317px;
	height: 504px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(166,177,225,0.31);
}


#rectangle_32 {
	top: 510px;
	left: 761px;
	width: 267px;
	height: 150px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_33 {
	top: 503px;
	left: 1088px;
	width: 267px;
	height: 150px;
}


#rectangle_34 {
	top: 770px;
	left: 761px;
	width: 267px;
	height: 150px;
}


#rectangle_35 {
	top: 770px;
	left: 1088px;
	width: 267px;
	height: 150px;
}


#rectangle_36 {
	top: 508px;
	left: 553px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_37 {
	top: 677px;
	left: 105px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_38 {
	top: 823px;
	left: 553px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_39 {
	top: 666px;
	left: 329px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_40 {
	top: 665px;
	left: 553px;
	width: 153px;
	height: 94px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_41 {
	top: 823px;
	left: 105px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_42_ek1 {
	top: 508px;
	left: 105px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_43_ek1 {
	top: 508px;
	left: 329px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_44_ek1 {
	top: 822px;
	left: 329px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}

#iconsax_broken_car_ek2 {
	top: 61px;
	left: 56px;
	width: 78px;
	height: 60px;
}

#vector_ek8 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle_ek2 {
	top: 60px;
	left: 1316px;
	width: 86px;
	height: 80px;
}

#vector_ek9 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek10 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}


#parkingb4_ek2 {
	top: 124px;
	left: 37px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_rajasee_found_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__rajasee_found_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_45 {
	top: 578px;
	left: 985px;
	width: 407px;
	height: 252px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(255,102,0,1);
}


#location_name {
	top: 279px;
	left: 174px;
	width: 670px;
	height: 185px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_41_ek1 {
	top: 408px;
	left: 457px;
	width: 559px;
	height: 80px;
}


#xxxx_parkings_found {
	top: 418px;
	left: 471.5px;
	width: 654px;
	height: 129px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}


#rectangle_43_ek2 {
	top: 578px;
	left: 81px;
	width: 407px;
	height: 252px;
	
	-ms-transform:rotate(-179.85deg);
	-o-transform:rotate(-179.85deg);
	-webkit-transform:rotate(-179.85deg);
	-moz-transform:rotate(-179.85deg);
	transform:rotate(-179.85deg);
	background:rgba(255,102,0,1);
}


#rectangle_44_ek2 {
	top: 578px;
	left: 535px;
	width: 407px;
	height: 252px;
	
	-ms-transform:rotate(179.85deg);
	-o-transform:rotate(179.85deg);
	-webkit-transform:rotate(179.85deg);
	-moz-transform:rotate(179.85deg);
	transform:rotate(179.85deg);
	background:rgba(255,102,0,1);
}


#line_5 {
	top: 752px;
	left: 538px;
	width: 401px;
	height: 1px;
	
	-ms-transform:rotate(179.85deg);
	-o-transform:rotate(179.85deg);
	-webkit-transform:rotate(179.85deg);
	-moz-transform:rotate(179.85deg);
	transform:rotate(179.85deg);
	background:#000000;
}


#line_6 {
	top: 753px;
	left: 81px;
	width: 401.01px;
	height: 1px;
	
	-ms-transform:rotate(-179.43deg);
	-o-transform:rotate(-179.43deg);
	-webkit-transform:rotate(-179.43deg);
	-moz-transform:rotate(-179.43deg);
	transform:rotate(-179.43deg);
	background:#000000;
}


#line_7 {
	top: 753px;
	left: 985px;
	width: 400.01px;
	height: 1px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:#000000;
}


#line_9 {
	top: 667px;
	left: 516px;
	width: 441.88px;
	height: 1px;
	
	-ms-transform:rotate(-156.26deg);
	-o-transform:rotate(-156.26deg);
	-webkit-transform:rotate(-156.26deg);
	-moz-transform:rotate(-156.26deg);
	transform:rotate(-156.26deg);
	background:#000000;
}


#line_10 {
	top: 665px;
	left: 522px;
	width: 435.29px;
	height: 1px;
	
	-ms-transform:rotate(-23.71deg);
	-o-transform:rotate(-23.71deg);
	-webkit-transform:rotate(-23.71deg);
	-moz-transform:rotate(-23.71deg);
	transform:rotate(-23.71deg);
	background:#000000;
}


#line_11 {
	top: 666px;
	left: 962px;
	width: 446.57px;
	height: 1px;
	
	-ms-transform:rotate(-156.65deg);
	-o-transform:rotate(-156.65deg);
	-webkit-transform:rotate(-156.65deg);
	-moz-transform:rotate(-156.65deg);
	transform:rotate(-156.65deg);
	background:#000000;
}


#line_12 {
	top: 665px;
	left: 979px;
	width: 431.63px;
	height: 1px;
	
	-ms-transform:rotate(-23.78deg);
	-o-transform:rotate(-23.78deg);
	-webkit-transform:rotate(-23.78deg);
	-moz-transform:rotate(-23.78deg);
	transform:rotate(-23.78deg);
	background:#000000;
}


#line_13 {
	top: 666px;
	left: 62px;
	width: 437.41px;
	height: 1px;
	
	-ms-transform:rotate(-155.98deg);
	-o-transform:rotate(-155.98deg);
	-webkit-transform:rotate(-155.98deg);
	-moz-transform:rotate(-155.98deg);
	transform:rotate(-155.98deg);
	background:#000000;
}


#line_14 {
	top: 667px;
	left: 64px;
	width: 439.77px;
	height: 1px;
	
	-ms-transform:rotate(157.55deg);
	-o-transform:rotate(157.55deg);
	-webkit-transform:rotate(157.55deg);
	-moz-transform:rotate(157.55deg);
	transform:rotate(157.55deg);
	background:#000000;
}


#rectangle_46 {
	top: 286px;
	left: 165px;
	width: 272px;
	height: 55px;
	background:rgba(217,217,217,1);
}


#vehicle {
	top: 293px;
	left: 184px;
	width: 157.5px;
	height: 66.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35px;
	text-align: left;
	color:#000000;
}


#location_name_ek1 {
	top: 203px;
	left: 155px;
	width: 330px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}

#iconsax_linear_arrowdown2 {
	top: 293px;
	left: 386px;
	width: 40px;
	height: 42px;
}

#vector_ek11 {
	top: 15.66px;
	left: 6.8px;
	width: 26.4px;
	height: 12.42px;
}

#iconsax_broken_car_ek3 {
	top: 126px;
	left: 44px;
	width: 78px;
	height: 60px;
}

#vector_ek12 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle_ek3 {
	top: 110px;
	left: 1293px;
	width: 86px;
	height: 80px;
}

#vector_ek13 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek14 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}

#vector_ek15 {
	top: 4px;
	left: 4.33px;
	width: 43.33px;
	height: 40px;
}


#vector_ek16 {
	top: 18px;
	left: 27.08px;
	width: 6.5px;
	height: 12px;
}

#iconsax_linear_arrowcircleright2 {
	top: 769px;
	left: 419px;
	width: 52px;
	height: 48px;
}

#iconsax_linear_arrowcircleright2_ek1 {
	top: 769px;
	left: 868px;
	width: 52px;
	height: 48px;
}

#iconsax_linear_arrowcircleright2_ek2{
	top: 769px;
	left: 1320px;
	width: 52px;
	height: 48px;
}


#vector_ek17 {
	top: 4px;
	left: 4.33px;
	width: 43.33px;
	height: 40px;
}


#vector_ek18 {
	top: 18px;
	left: 27.08px;
	width: 6.5px;
	height: 12px;
}


#vector_ek19 {
	top: 4px;
	left: 4.33px;
	width: 43.33px;
	height: 40px;
}


#vector_ek20 {
	top: 18px;
	left: 27.08px;
	width: 6.5px;
	height: 12px;
}


#parkingb4_ek3 {
	top: 191px;
	left: 33px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_aakanksha_sign_in_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__aakanksha_sign_in_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#location_name_ek2 {
	top: 136px;
	left: 130px;
	width: 670px;
	height: 185px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_48 {
	opacity:0.8299999833107;
	top: 188px;
	left: 789px;
	width: 589px;
	height: 739px;
	background:rgba(255,102,0,0.83);
}

#iconsax_broken_car_ek4 {
	top: 91px;
	left: 74px;
	width: 78px;
	height: 60px;
}

#vector_ek21 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}


#line_26 {
	top: 543px;
	left: 432px;
	width: 564.01px;
	height: 1px;
	
	-ms-transform:rotate(89.58deg);
	-o-transform:rotate(89.58deg);
	-webkit-transform:rotate(89.58deg);
	-moz-transform:rotate(89.58deg);
	transform:rotate(89.58deg);
	background:#000000;
}


#sign_up {
	top: 188px;
	left: 253px;
	width: 311px;
	height: 79px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}


#enter_your_details_to_create_account {
	top: 261px;
	left: 81px;
	width: 664px;
	height: 50px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_49 {
	top: 410px;
	left: 74px;
	width: 570px;
	height: 63px;
}


#city_of_recidence {
	top: 419px;
	left: 88px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_50 {
	top: 505px;
	left: 75px;
	width: 173px;
	height: 57px;
}


#rectangle_51 {
	top: 502px;
	left: 284px;
	width: 360px;
	height: 57px;
}


#phone {
	top: 512px;
	left: 299px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_52 {
	top: 326px;
	left: 74px;
	width: 266px;
	height: 55px;
}


#rectangle_53 {
	top: 326px;
	left: 374px;
	width: 270px;
	height: 55px;
}


#last_name {
	top: 335px;
	left: 387px;
	width: 281px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_54 {
	top: 583px;
	left: 74px;
	width: 570px;
	height: 60px;
}


#email {
	top: 589px;
	left: 88px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_55 {
	top: 672px;
	left: 74px;
	width: 570px;
	height: 59px;
}

#iconsax_linear_ticksquare {
	top: 760px;
	left: 75px;
	width: 38px;
	height: 36px;
}

#vector_ek22 {
	top: 3px;
	left: 3.17px;
	width: 31.67px;
	height: 30px;
}


#vector_ek23 {
	top: 13.76px;
	left: 12.27px;
	width: 13.46px;
	height: 8.49px;
}


#i_accept_the_terms_and_conditions {
	top: 758px;
	left: 132px;
	width: 545px;
	height: 44px;
	overflow: hidden;
	font-family: Inter;
	font-size: 28px;
	text-align: left;
	color:#000000;
}


#rectangle_56 {
	top: 810px;
	left: 232px;
	width: 232px;
	height: 67px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(255,102,0,1);
}


#_register {
	top: 819px;
	left: 284px;
	width: 207px;
	height: 53px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#_already_have_an_account___login {
	top: 889px;
	left: 100px;
	width: 520px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#first_name {
	top: 333px;
	left: 84px;
	width: 281px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#password {
	top: 683px;
	left: 84px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#country {
	top: 511px;
	left: 84px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#about_us {
	top: 226px;
	left: 994px;
	width: 327px;
	height: 85px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#line_27 {
	top: 354px;
	left: 904px;
	width: 360px;
	height: 1px;
	background:#000000;
}


#line_28 {
	top: 484px;
	left: 908px;
	width: 356.01px;
	height: 1px;
	background:#000000;
}


#line_29 {
	top: 622.5px;
	left: 907.98px;
	width: 344.04px;
	height: 1px;
	background:#000000;
}


#line_30 {
	top: 758px;
	left: 904px;
	width: 348px;
	height: 1px;
	background:#000000;
}

#iconsax_linear_arrowdown2_ek1 {
	top: 510px;
	left: 208px;
	width: 40px;
	height: 42px;
}

#vector_ek24 {
	top: 15.66px;
	left: 6.8px;
	width: 26.4px;
	height: 12.42px;
}


#parkingb4_ek4 {
	top: 165px;
	left: 61px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_rajasee_search_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__rajasee_search_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_19 {
	top: 880px;
	left: 611px;
	width: 292px;
	height: 67px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(255,102,0,1);
}


#rectangle_18 {
	top: 742px;
	left: 1053.82px;
	width: 203px;
	height: 46px;
	background:rgba(217,217,217,1);
}


#rectangle_9 {
	top: 744px;
	left: 798px;
	width: 458.64px;
	height: 52.48px;
	background:rgba(255,102,0,1);
}


#__ {
	top: 34px;
	left: 2288px;
	width: 69px;
	height: 96px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}

#iconsax_linear_arrowrotateleft {
	top: 58px;
	left: 1451px;
	width: 33px;
	height: 36px;
}

#vector_ek25 {
	top: 3px;
	left: 4.58px;
	width: 23.84px;
	height: 29.99px;
}


#https___parkingb4_com {
	top: 34px;
	left: 1477px;
	width: 835px;
	height: 54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#arrow_2 {
	top: 1100px;
	left: 704px;
	width: 31.99px;
	height: 0.71px;
}


#ellipse_1 {
	top: 96px;
	left: 2271px;
	width: 48px;
	height: 46px;
	-ms-border-radius: 24px / 23px;
	-o-border-radius: 24px / 23px;
	-moz-border-radius: 24px / 23px;
	-webkit-border-radius: 24px / 23px;
	border-radius: 24px / 23px;
	background:rgba(180,205,230,1);
}


#ellipse_4 {
	top: 1052px;
	left: 696px;
	width: 48px;
	height: 46px;
	-ms-border-radius: 24px / 23px;
	-o-border-radius: 24px / 23px;
	-moz-border-radius: 24px / 23px;
	-webkit-border-radius: 24px / 23px;
	border-radius: 24px / 23px;
	background:rgba(180,205,230,1);
}


#rectangle_8 {
	top: 749px;
	left: 258px;
	width: 458.64px;
	height: 52.48px;
	
	-ms-transform:rotate(-0.41deg);
	-o-transform:rotate(-0.41deg);
	-webkit-transform:rotate(-0.41deg);
	-moz-transform:rotate(-0.41deg);
	transform:rotate(-0.41deg);
	background:rgba(255,102,0,1);
}


#arrival_time {
	top: 756px;
	left: 304px;
	width: 488px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#departure_time {
	top: 749px;
	left: 841px;
	width: 396px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#_12_00 {
	top: 754px;
	left: 570px;
	width: 263px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#_12_00_ek1 {
	top: 748px;
	left: 1150.82px;
	width: 263px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#000000;
}


#_search {
	top: 890px;
	left: 692px;
	width: 162px;
	height: 69px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#000000;
}

#iconsax_broken_car_ek5 {
	top: 110px;
	left: 55px;
	width: 78px;
	height: 60px;
}

#vector_ek26 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle_ek4 {
	top: 94px;
	left: 1304px;
	width: 86px;
	height: 80px;
}

#vector_ek27 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek28 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}


#line_39 {
	top: 772px;
	left: 513px;
	width: 47px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#line_40 {
	top: 770px;
	left: 1079px;
	width: 53px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#rectangle_64 {
	top: 203px;
	left: 456px;
	width: 594px;
	height: 286px;
	background:rgba(255,102,0,1);
}


#line_41 {
	top: 347px;
	left: 423px;
	width: 652.09px;
	height: 1px;
	
	-ms-transform:rotate(25.82deg);
	-o-transform:rotate(25.82deg);
	-webkit-transform:rotate(25.82deg);
	-moz-transform:rotate(25.82deg);
	transform:rotate(25.82deg);
	background:#000000;
}


#line_42 {
	top: 347px;
	left: 423px;
	width: 652.09px;
	height: 1px;
	
	-ms-transform:rotate(154.18deg);
	-o-transform:rotate(154.18deg);
	-webkit-transform:rotate(154.18deg);
	-moz-transform:rotate(154.18deg);
	transform:rotate(154.18deg);
	background:#000000;
}


#rectangle_65 {
	top: 581px;
	left: 393px;
	width: 768px;
	height: 88px;
	background:rgba(217,217,217,1);
}


#address__place__city {
	top: 590px;
	left: 539px;
	width: 1077px;
	height: 87px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}


#parkingb4_ek5 {
	top: 193px;
	left: 48px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_iconsax_linear_arrowrotateleft_ek2 {
	top: 0px;
	left: 0px;
	width: 33px;
	height: 36px;
}

#_bg__iconsax_linear_arrowrotateleft_ek3 {
	top: 0px;
	left: 0px;
	width: 33px;
	height: 36px;
	background:rgba(255,255,255,1);
}


#image_2 {
	top: 1696px;
	left: 10449px;
	width: 1216px;
	height: 702px;
}

#page_aakansha_log_in_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__aakansha_log_in_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_6 {
	opacity:0.8299999833107;
	top: 200px;
	left: 792px;
	width: 589px;
	height: 739px;
	background:rgba(255,102,0,0.83);
}

#iconsax_broken_car_ek6 {
	top: 84px;
	left: 77px;
	width: 78px;
	height: 60px;
}

#vector_ek29 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}


#line_21 {
	top: 555px;
	left: 435px;
	width: 564.01px;
	height: 1px;
	
	-ms-transform:rotate(89.58deg);
	-o-transform:rotate(89.58deg);
	-webkit-transform:rotate(89.58deg);
	-moz-transform:rotate(89.58deg);
	transform:rotate(89.58deg);
	background:#000000;
}


#log_in {
	top: 247px;
	left: 251px;
	width: 311px;
	height: 79px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#000000;
}


#rectangle_46_ek1 {
	top: 395px;
	left: 66px;
	width: 570px;
	height: 60px;
}


#email_ek1 {
	top: 401px;
	left: 80px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#rectangle_47 {
	top: 484px;
	left: 66px;
	width: 570px;
	height: 59px;
}


._rectangle_19_ek1 {
	top: 680px;
	left: 240px;
	width: 232px;
	height: 67px;
	border-radius: 35px;
	background:rgba(255,102,0,1);
}


#login {
	top: 609px;
	left: 301px;
	width: 168px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#_don_t_have_an_account___register {
	top: 793px;
	left: 66px;
	width: 543px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#forget_password__ {
	top: 724px;
	left: 64px;
	width: 627px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-decoration: underline;
	text-align: left;
	color:#000000;
}


#password_ek1 {
	top: 495px;
	left: 76px;
	width: 428px;
	height: 70px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#about_us_ek1 {
	top: 238px;
	left: 997px;
	width: 327px;
	height: 85px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#line_22 {
	top: 366px;
	left: 907px;
	width: 360px;
	height: 1px;
	background:#000000;
}


#line_23 {
	top: 496px;
	left: 911px;
	width: 356.01px;
	height: 1px;
	background:#000000;
}


#line_24 {
	top: 634.5px;
	left: 910.98px;
	width: 344.04px;
	height: 1px;
	background:#000000;
}


#line_25 {
	top: 768px;
	left: 907px;
	width: 348.04px;
	height: 1px;
	background:#000000;
}


#parkingb4_ek6 {
	top: 158px;
	left: 59px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_shreekar_slot_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__shreekar_slot_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_5 {
	opacity:0.86000001430511;
	top: 183px;
	left: 74px;
	width: 1317px;
	height: 253px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,102,0,0.86);
}


#rectangle_12 {
	opacity:0.31000000238419;
	top: 460px;
	left: 74px;
	width: 1317px;
	height: 504px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(166,177,225,0.31);
}


#rectangle_22 {
	top: 510px;
	left: 762px;
	width: 267px;
	height: 150px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#_rectangle_24 {
	top: 503px;
	left: 1089px;
	width: 267px;
	height: 150px;
}


#rectangle_27 {
	top: 770px;
	left: 762px;
	width: 267px;
	height: 150px;
}


#rectangle_26_ek1 {
	top: 770px;
	left: 1089px;
	width: 267px;
	height: 150px;
}


#rectangle_17 {
	top: 508px;
	left: 554px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_30 {
	top: 677px;
	left: 106px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_29 {
	top: 823px;
	left: 554px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_28 {
	top: 666px;
	left: 330px;
	width: 163px;
	height: 103px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#rectangle_18_ek1 {
	top: 665px;
	left: 554px;
	width: 153px;
	height: 94px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_19_ek2 {
	top: 823px;
	left: 106px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_11 {
	top: 338px;
	left: 966px;
	width: 103px;
	height: 63px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #1ea83c;
	background:rgba(255,255,255,1);
}


#line_1 {
	top: 308px;
	left: 785px;
	width: 227px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#name_of_the_car_parking__details_about_the_car_parking_____________________________________________ {
	top: 208px;
	left: 106px;
	width: 671px;
	height: 130px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#rectangle_10 {
	top: 242px;
	left: 966px;
	width: 93px;
	height: 53px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(175.71,176.37,169.76,1);
}


#parked {
	top: 247px;
	left: 1087px;
	width: 236px;
	height: 68px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#vacant {
	top: 345px;
	left: 1087px;
	width: 208px;
	height: 67px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#rectangle_13 {
	top: 508px;
	left: 106px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_14 {
	top: 508px;
	left: 330px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}


#rectangle_20 {
	top: 822px;
	left: 330px;
	width: 153px;
	height: 93px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(176,176,170,1);
}

#iconsax_broken_car_ek7 {
	top: 76px;
	left: 60px;
	width: 78px;
	height: 60px;
}

#vector_ek30 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}

#iconsax_outline_profilecircle_ek5 {
	top: 60px;
	left: 1309px;
	width: 86px;
	height: 80px;
}

#vector_ek31 {
	top: 18.27px;
	left: 16.15px;
	width: 53.71px;
	height: 57.57px;
}


#vector_ek32 {
	top: 4.17px;
	left: 4.48px;
	width: 77.04px;
	height: 71.67px;
}


#parkingb4_ek7 {
	top: 140px;
	left: 46px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}


#line_20 {
	top: 3934px;
	left: 731px;
	width: 1px;
	height: 1px;
	background:#000000;
}

#page_home_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__home_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#parking_b4 {
	top: 248px;
	left: 556px;
	width: 731px;
	height: 153px;
	overflow: hidden;
	font-family: Hepta Slab;
	font-size: 96px;
	text-align: left;
	color:#000000;
}


#_rectangle_19_ek3 {
	top: 125px;
	left: 1176px;
	width: 232px;
	height: 67px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(255,102,0,1);
}


#rectangle_20_ek1 {
	top: 125px;
	left: 951px;
	width: 209px;
	height: 67px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	background:rgba(255,102,0,1);
}


#image_1 {
	top: 397px;
	left: 161px;
	width: 1155px;
	height: 389px;
}


#park_before_arriving___ {
	top: 855px;
	left: 508px;
	width: 635px;
	height: 82px;
	overflow: hidden;
	font-family: Istok Web;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#_sign_in {
	top: 132px;
	left: 985px;
	width: 196px;
	height: 84px;
	overflow: hidden;
	font-family: Istok Web;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#log_in_ek1 {
	top: 132px;
	left: 1227px;
	width: 195px;
	height: 84px;
	overflow: hidden;
	font-family: Istok Web;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#iconsax_broken_car_ek8 {
	top: 142px;
	left: 66px;
	width: 78px;
	height: 60px;
}

#vector_ek33 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}


#parkingb4_ek8 {
	top: 218px;
	left: 46px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}

#page_confirm_sign_in_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__confirm_sign_in_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#location_name_ek3 {
	top: 198px;
	left: 111px;
	width: 670px;
	height: 185px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_3_ek1 {
	opacity:0.93999999761581;
	top: 226px;
	left: 222px;
	width: 1016px;
	height: 659px;
	background:rgba(255,77,0,0.94);
}


#account_created_successfully___ {
	top: 537px;
	left: 250px;
	width: 967px;
	height: 101px;
	overflow: hidden;
	font-family: Inter;
	font-size: 56px;
	text-align: center;
	color:#000000;
}

#iconsax_outline_locationtick_ek1 {
	top: 260px;
	left: 601px;
	width: 259px;
	height: 259px;
}

#vector_ek34 {
	top: 13.49px;
	left: 28.33px;
	width: 202.45px;
	height: 232.13px;
}


#vector_ek35 {
	top: 89.07px;
	left: 91.76px;
	width: 75.49px;
	height: 59.33px;
}


#proceed_to_continue {
	top: 616px;
	left: 355px;
	width: 763px;
	height: 127px;
	overflow: hidden;
	font-family: Inter;
	font-size: 38px;
	text-align: center;
	color:#000000;
}


#rectangle_4_ek1 {
	top: 743px;
	left: 589px;
	width: 305px;
	height: 80px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background:rgba(21,45,53,1);
}


#_proceed {
	top: 752px;
	left: 591px;
	width: 311px;
	height: 89px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}

#iconsax_broken_car_ek9 {
	top: 138px;
	left: 73px;
	width: 78px;
	height: 60px;
}

#vector_ek36 {
	top: 7.07px;
	left: 6.5px;
	width: 64.99px;
	height: 47.93px;
}


#parkingb4_ek9 {
	top: 203px;
	left: 55px;
	width: 167px;
	height: 41px;
	overflow: hidden;
	font-family: Inter;
	font-size: 24px;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
